<header>
  <h1>🛒 ShopLite</h1>
  <nav>
    <a routerLink="/catalogue" routerLinkActive="lien-actif">Catalogue</a>
    <a routerLink="/panier" routerLinkActive="lien-actif" class="lien-panier">
      Panier
      @if (panierService.nombreArticles() > 0) {
        <span class="badge-panier" [class.anime]="panierService.animationBadge()">{{ panierService.nombreArticles() }}</span>
      }
    </a>
    @if (authService.utilisateurConnecte(); as utilisateur) {
      <span class="nom-utilisateur">👤 {{ utilisateur.username }}</span>
      <button type="button" (click)="seDeconnecter()" class="bouton-deconnexion">Déconnexion</button>
    } @else {
      <a routerLink="/connexion" routerLinkActive="lien-actif">Connexion</a>
    }
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>